body { font-size: 1em }
ul, ol { list-style: none; padding-left: 0;}
a { color: #fff }

div{height: 400px; overflow: hidden;}
ul{ width: 200px; margin: auto; position: relative;}
li{ width: 200px; height: 100px; display: block; background: #292929; font-size: 3em; color: #fff; text-align: center; line-height: 100px;}
li:nth-child(1){ background: #f22}
li:nth-child(2){ background: #f45}
li:nth-child(3){ background: #245415}
li:nth-child(4){ background: #254654}
li:nth-child(5){ background: #123456; position: absolute; }